/* Start-Variables */
:root {
    --main-color: #10cab7;
    --second-color: #2c4755;
    --third-color: #575757;
    --section-padding: 60px;
    --sectio-background: #f6f6f6;
    --main-duration: 0.3s;
}

/* End-Variables */
html {
    scroll-behavior: smooth;
}

/*Start-global-rules */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media (min-width: 1290px) {
    .container {
        width: 1285px;
    }
}

/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End-global-rules */
/* Start Component */
.special-heading {
    letter-spacing: -8px;
    color: #ebeced;
    font-size: 118px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

.special-heading+p {
    font-size: 18px;
    color: var(--third-color);
    margin: -38px 0 0;
    text-align: center;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

/* End Component */
/* Start Header */
.header {
    padding: 30px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--sectio-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;

}

.header .links:hover ul {
    display: block;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--sectio-background) transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* End Header */
/* Start landing section */
.landing {
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    width: 320px;
    max-width: 100%;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 55px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 20px;
    color: var(--second-color);
    line-height: 1.8;

}

/* End landing section */
/* Start Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--sectio-background);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: var(--third-color);
    font-size: 15px;
}

/* End Features */
/* Start Services */
.secvices {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .srv .text p {
    color: var(--third-color);
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .col .image {
    text-align: center;
    position: relative;
}

.services .services-content .col .image::before {
    content: "";
    position: absolute;
    top: -50px;
    width: 100px;
    height: calc(100% + 100px);
    right: 0;
    z-index: -1;
    background-color: var(--second-color);
}

.services .services-content .col .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--sectio-background);
}

.portfolio .portfolio-content {
    margin-top: 80px;
}

.portfolio .card {
    background-color: white;
}

.portfolio .card img {
    max-width: 100%;
}

.portfolio .card .info {
    padding: 20px;
}

.portfolio .card .info h3 {
    margin: 0;
}

.portfolio .card .info p {
    color: var(--third-color);
    line-height: 1.6;
    margin-bottom: 0;
}

/* End Portfolio */
/* Start About-Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
    background-color: white;
}

.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about-content {
        display: inline-block;
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {

    .about-content .image {
        margin: 0 auto;
    }
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 80px;
    height: 90%;
    top: -40px;
    left: -40px;
}

.about .about-content .image::after {
    top: -20px;
    content: "";
    position: absolute;
    width: 85px;
    height: 178px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -110px;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about-content .image img {
    max-width: 100%;
    box-shadow: -2px 6px 20px -2px rgba(38, 41, 46, 0.25);
    position: absolute;
    z-index: 1;
}

.about-content .text {
    flex-basis: calc(100% - 500px);
}

.about-content .text p:first-of-type {
    font-weight: 800;
    line-height: 1.7rem;
    padding-bottom: 15px;
    font-size: 18px;
    color: var(--second-color);
}

.about-content .text hr {
    width: 50%;
    display: inline-block;
    background-color: var(--main-color);
    border: none;
    height: 2px;
    margin-bottom: 4px;
}

.about-content .text p:last-of-type {
    line-height: 1.7rem;
    color: var(--third-color);
    font-size: 15px;
}

/* End About-Section */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--sectio-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    margin: 0 auto;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
    margin-bottom: 10px;

}

.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}

.contact .info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}

.contact .info .social i {
    margin-left: 20px;
    color: var(--second-color);
}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.contact .info .social i:hover {
    color: var(--main-color);
}

/* End Contact */
/* Start Footer */
.footer {
    background-color: var(--second-color);
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 30px 10px;
    font-weight: bold;
}

.footer span {
    color: var(--main-color);
}

/* End Footer */